---
layout: page
permalink: /categories/
title: Categories
sidebar_link: true
---

<div id="archives">
{% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first | slugize}}{% endcapture %}
    {% assign category_slug = category_name | slugize %}
    <div id="#{{ category_slug }}"></div>
    <p></p>

    <h3 class="category-head">
        <a href="{{ site.baseurl }}/category/{{ category_slug }}">{{ category_name }}</a>
    </h3>
    <a name="{{ category_slug }}"></a>
    {% assign posts = site.categories[category_name] | sort: "date" | reverse | slice: 0, 5 %}
    {% for post in posts %}
    <article class="archive-item">
      <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
    </article>
    {% endfor %}
  </div>
{% endfor %}
</div>