---
layout: page
permalink: /categories/
title: Categories
sidebar_link: true
---

<div id="archives">
{% for category in site.categories %}
  <div class="archive-group">
    {% assign category_name = category | first %}
    {% assign category_slug = category_name | downcase | replace: " ", "-" %}
    <div id="#{{ category_slug }}"></div>

    <h2 class="category-head">
        <a href="{{ site.baseurl }}/category/{{ category_slug }}">{{ category_name }}</a>
    </h2>
    <a name="{{ category_slug }}"></a>
    {% assign posts = site.categories[category_name] | sort: "date" | reverse | slice: 0, 5 %}
    <ul class="posts-list">
        {% for post in posts %}
          <li>
            <h4>
              <a href="{{ site.baseurl }}{{ post.url }}">
                {{ post.title }}
                <small>[{{ post.date | date_to_string }}]</small>
              </a>
            </h4>
          </li>
        {% endfor %}
    </ul>
    <hr>
  </div>
{% endfor %}
</div>