<nav id="sidebar-icon-links">
  <a id="github-link"
      class="icon" title="Github Profile" aria-label="Github Profile"
      href="{{ site.author.github }}" target="_blank">
    {% include svg/github.svg %}
  </a>

  <a id="youtube-link"
     class="icon" title="Youtube Channel" aria-label="Youtube Channel"
     href="{{ site.author.youtube }}" target="_blank">
    {% include svg/youtube.svg %}
  </a>

  <a id="search-button"
     class="icon{% if page.url == '/search' %} active{% endif %}"
     title="Search" aria-label="Search">
    {% include svg/search.svg %}
  </a>

  {% include custom-icon-links.html %}
</nav>
